<launch>
  <arg name="traj_order"         value="3" />
  <arg name="dimension"          value="2" />
  <arg name="TrajSampleRate"      value="20" />
  <arg name="max_vel"            value="2.70" />
  <arg name="max_acc"            value="2.50" />

  <!--启动规划器，生成轨迹 -->
  <node pkg="bspline_race" name="flag_planner" type="flag_planner" output="screen" >
    <param name="planning/traj_order" value="$(arg traj_order)"/>
    <param name="planning/dimension" value="$(arg dimension)" />
    <param name="planning/TrajSampleRate" value="$(arg TrajSampleRate)" />
    <param name="planning/max_vel" value="$(arg max_vel)" />
    <param name="planning/max_acc" value="$(arg max_acc)" />
    <param name="traj_file" value="$(find bspline_race)/config/waypoint.txt"/>
  </node>

  />
</launch>
